<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>twity</servlet-name>
        <servlet-class>twity.TwityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>twity</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>twity.jsp</welcome-file>
    </welcome-file-list>
</web-app>
